*{
    padding:0;
    margin:10;
    border: 1;
}
body{
    background-color: brown;
} 
.div-1{
    background-color:blue;
    width:100vw;
    height: 50vh;
    text-align: center;
}
.div-1 img{
    width: 100vw;
    height: 40vh;
}
.div-2{
    background-color:gray;
        width:100vw;
        height:50vh;
        text-align: center;  
}

.div-3{
    background-color:green;
        width:100vw;
        height:50vh;
        text-align: center;
}

.div-4{
    background-color:orange;
        width:100vw;
        height:50vh;
        text-align: center;
}
.